html, body {
    width: 100%;
}
.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}
/* End of basic styles */

/* Start of header */
header {
    font-size: 0.9em;
    padding: 0.5%;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .home {
    padding-top: 0.57em;
    padding-bottom: 0.83em;
}
.menu li {
    display: block;
    float: left;
    padding: 1rem;
    transition-duration: 0.5s;
    position: relative;
}
.menu li:hover {
    background: rgb(167, 156, 156);
}
.menu a {
    color: #000;
}
.menu ul li ul {
    z-index: 1;
    background: orange;
    visibility: hidden;
    opacity: 0;
    width: 32em;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    font-size: 0.7em;
}
/* .menu li ul:hover */
.menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block;
}
.menu ul li ul li {
    clear: both;
    width: 90%;
    font-weight: bold;
}

